containers:
  - name: devops-node-app
    image: <YOUR_DOCKER_USERNAME>/devops-node-app:latest
    ports:
      - containerPort: 3000
    env:
      - name: SHOW_REASON_LAYER
        value: "true"
      - name: MONGO_USER
        valueFrom:
          secretKeyRef:
            name: mongodb-secret
            key: username
      - name: MONGO_PASSWORD
        valueFrom:
          secretKeyRef:
            name: mongodb-secret
            key: password
      - name: MONGO_HOST
        value: mongodb-service
